    .tile {
        border: 1px inset black;
        background-color: white;

        width: 11.111%;
        height: 11.111%;
        padding-bottom: 5%;
        font-size: 100%;
        display: inline-block;
        ;
    }
    .input_tile{
        background-color: White;
        width: 11.11%;
        height: 11.11%;
        padding-bottom: 5%;
        font-size: 100%;
        display: inline-block;
    }

    table, th, td {
        position: center;
        width: 40%;
        padding-bottom: 40%; /* = width for a square aspect ratio */
        border: 3px solid black;
        border-collapse: collapse;
    }


    .tile:hover{
        background-color: lavender;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .permanent{
        display: block;
        background-color: #333333;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
    height: 100%;
        border: none;
    }
    .permanent:hover{
        background-color: black;

    }

